{% extends "base.html" %}

{% load mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}

{% comment %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% endcomment %}

{% block title %}

<div class="link-item clearfix"> <!--每个条目-->
    {% if not profile_user %}{% rating_for object %}{% endif %}<!--rating_for用来排序的-->
    <div class="link-detail{% if object.rating_sum < 0 %} link-negative{% endif %}"><!--小于0的话给出其他样式-->
        <h2>
            <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
            {# <span class="domain">({{ link.domain }})</span> #}<!--链接-->
        </h2>

        <blockquote>for <strong>{{link|displayName:'canteen'}}</strong>  |  by <a  href="{% url "profile" object.user.username %}">{{ link.user.profile }}</a>
        {{ link.publish_date|timesince }} 之前 </blockquote>
        
<!-- 多说js加载开始，一个页面只需要加载一次 获取评论数-->
    </div>
</div>
{% endblock %}

{% block main %}
<div id="suggestion" class="link-view">
    <p class="description">{{ object.description }}</p>
    
</div>
<hr>
  

 
<div class="row">  
<div class="span3"><h3 class="alert-success text-center">伙委会的答复</h3></div>
</div>
<hr>
{% comments_for object %}

{% include "include/duoshuo.html" %}

{% endblock %}
